body {
    margin: auto;
    font-family: Roboto, Arial;
}
.head {
    height: 60px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.left-section {
    width: 100px;
    padding-top: 5px;
    cursor: pointer;
}
.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.amazon-mobile-logo {
    display: none;
}
@media (max-width: 600px){
    .left-section>.amazon-mobile-logo{
        display: block;
        width: 40px;
    }
    .left-section {
        width:  50px;
    }
    .left-section img {
        display: none;
    }
}
.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 880px;
    margin-left: 15px;
}
.middle-section input {
    font-size: 16px;
    flex: 1;
    padding: 12px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline-color: rgb(254, 189, 105);
    cursor: pointer;
}
.search-btn {
    background: rgb(254, 189, 105);
    width: 45px;
    height: 42px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-icon {
    height: 25px;
}
.right-section {
    width: 180px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.big-view{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    cursor: pointer;
}
@media (max-width:600px){
    .right-section {
        width: 50px;
        display: flex;
        align-items: center;
    }
    .hamburger{
        display: block;
        margin-left: 20px;
    }
    .big-view{
        display: none;
    }
}
.return-order-container {

}
.text1 {
    margin-bottom: 0;
    font-size: 13px;
}
.text2{
    margin-top: 0;    
    font-size: 15px;
}
.cart-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cart-count-container img {
    width: 50px;
}
.cart-text {
    padding-top: 12px;
    font-size: 15px;
}
.cart-count {
    position: absolute;
    left: 24px;
    bottom: 12px;
    color: rgb(254, 189, 105);
}
.body-wrap {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
@media (max-width: 801px) and (min-width: 1001px){
    .body-wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) and (min-width: 801px){
    .body-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) and (min-width: 600px){
    .body-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}@media (max-width: 600px) {
    .body-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}
.card-wrap {
    padding: 25px;
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.product-img {
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.product-img img{
    max-width: 100%;
    max-height: 100%;
}
.product-discription {
    margin-bottom: 10px;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.rating-stars {
    width: 100px;
    margin-right: 5px;
}
.rating-stars img {
    width: 100%;
    object-fit: cover;
}
.amount {
    font-weight: 700;
    margin-bottom: 10px;
}
.product-count {
    margin-bottom: 10px;
}
.product-count select { 
padding: 3px 5px;
    border-radius: 5px;
}
.cheqmark {
    padding: 3px 5px;
    background: green;
    color: wheat;
    border-radius: 20px;
    margin-right: 7px;
}
.sucessesfully-added {
    color: green;
    margin-bottom: -7px;
    /* display: none; */
}
.add-cart-btn {
    width: 100%;
    padding: 8px;
    border-radius: 25px;
    margin-top: 25px;
    border: 1px solid rgb(255, 216, 20);
    background: rgb(255, 216, 20);
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.added-to-cart {
    color: rgb(6, 125, 98);
    font-size: 16px;
  
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  
    /* At first, the "Added to cart" message will
       be invisible. Use JavaScript to change the
       opacity and make it visible. */
    opacity: 0;
  }